.similar-players-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;

  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .main-container {
    display: flex;
    justify-content: center;
    width: 100%;

    margin-top: 24px;

    &__left {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .text-label {
        margin-bottom: 5px;
        color: var(--nextui-colors-accents8);
      }
    }

    &__right {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .nextui-radio-group-label {
        text-align: center;
      }
    }
  }

  .submit-btn {
    margin-top: 24px;
  }

  .similar-players-table {
    width: 100%;
    margin-top: 24px;
  }

  .graph-image {
    margin-top: 24px;
  }
}
