.similar-players-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;

  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .input-container {
    display: flex;
    flex-direction: column;

    .text-label {
      margin-bottom: 5px;
      color: var(--nextui-colors-accents8);
    }
  }

  .submit-btn {
    margin-top: 24px;
  }

  .similar-players-table {
    width: 100%;
    margin-top: 24px;
  }

  .graph-image {
    margin-top: 24px;
  }
}
