.communities-page {
  width: 100%;
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;

  .search-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;

    .title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 16px;
    }
  }

  .information-box {
    margin-top: 24px;
    width: 100%;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      align-items: baseline;
      font-size: 24px;
      font-weight: 400;

      &-content {
        margin-bottom: 24px;
        margin-left: 5px;
        font-weight: 600;
      }

      .remove-btn {
        margin-left: 10px;
      }
    }

    .submit-btn {
      margin-top: 24px;
    }
  }

  .detail-information {
    margin-top: 24px;
  }

  .nextui-checkbox-group-items {
    flex-direction: row;

    .nextui-checkbox-label {
      &:not(:first-child) {
        margin-top: 0;
      }
    }

    .nextui-checkbox-label + .nextui-checkbox-label {
      margin-left: 10px;
    }
  }

  .change-page-bar {
    display: flex;
    align-items: center;

    .page-name {
      font-size: 18px;
      font-weight: 600;
      margin-right: 24px;
      margin: 24px;
    }

    .nextui-switch {
      background-color: blue;
    }
  }
}
