.communities-page {
  width: 100%;
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;

  .change-page-bar {
    display: flex;
    align-items: center;

    .page-name {
      font-size: 18px;
      font-weight: 600;
      margin-right: 24px;
      margin: 24px;
    }

    .nextui-switch {
      background-color: blue;
    }
  }
}
