.login-page {
  width: 375px;
  min-height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    margin-top: 96px;
    margin-bottom: 24px;
  }

  .title-1 {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #151a30;
    margin-bottom: 8px;
  }

  .title-2 {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #151a30;
    margin-bottom: 24px;
  }

  .custom-text-input {
    width: calc(100% - 20px - 20px);
  }

  .unlock-btn {
    margin-bottom: 104px;
  }
}
