.custom-icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon-button-box {
    width: 48px;
    height: 48px;
    background: #f7f9fc;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  .icon-button-name {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #151a30;

    margin-top: 4px;
  }

  &.--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
