.management-page {
  margin: 0 24px;

  .change-page-bar {
    display: flex;
    align-items: center;

    .page-name {
      font-size: 18px;
      font-weight: 600;
      margin-right: 24px;
      margin: 24px;
    }

    .nextui-switch {
      background-color: var(--nextui-colors-primary);
    }
  }
}
