.send-header-component {
  width: 100%;
  height: 56px;

  background: #ffffff;
  box-shadow: 0px 4px 12px #f7f9fc;

  display: flex;
  align-items: center;

  .back-button {
    height: 32px;
    width: 32px;

    margin-left: 24px;
    &:hover {
      cursor: pointer;
    }
  }

  .title {
    margin-left: 98px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #151a30;
  }
}
