.homepage {
  .search-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;

    .title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 16px;
    }
  }
  .chart-box {
    display: flex;
    justify-content: center;
    margin-top: 48px;

    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;

      .title {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 24px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: baseline;

        &-content {
          margin-bottom: 24px;
          margin-left: 5px;
          font-weight: bold;
        }

        .remove-btn {
          margin-left: 10px;
        }
      }

      .detail-information {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .player-stats-card {
          margin-bottom: 24px;
          margin-right: 24px;
          height: fit-content;
          width: 300px;

          p {
            height: 24px;
          }
        }

        .customized-radar-chart {
          height: 500px !important;
          width: 500px !important;
        }
      }
    }
  }

  .flex-box {
    display: flex;

    .player-statistic-skeleton {
      margin-right: 24px;
      margin-left: 24px;
    }
  }
}
