.asset-box-component {
  margin-top: 17px;

  width: 100%;

  &-title {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #151a30;

    margin-left: 32px;
    margin-bottom: 12px;
  }

  .currency-box-list {
    height: 100%;

    .currency-box-element {
      display: flex;
      align-items: center;
      padding: 12px 20px;

      background: #f7f9fc;
      border-radius: 8px;

      cursor: pointer;

      .currency-value-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 16px;

        .foreign-coin {
          font-family: 'SF Pro Text';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #151a30;
        }

        .vnd-coin {
          font-family: 'SF Pro Text';
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: #8f9bb3;
        }
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
