.overview-page {
  width: 100%;
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .customized-chart {
    margin-top: 48px;
    height: auto;
    width: auto;
  }
}
